# Column Transformer

In [1]:
import numpy as np
import pandas as pd

from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder

from sklearn.preprocessing import OrdinalEncoder

In [2]:
df=pd.read_csv("covid_toy - covid_toy.csv")
df

    age  gender  fever   cough       city has_covid
0    60    Male  103.0    Mild    Kolkata        No
1    27    Male  100.0    Mild      Delhi       Yes
2    42    Male  101.0    Mild      Delhi        No
3    31  Female   98.0    Mild    Kolkata        No
4    65  Female  101.0    Mild     Mumbai        No
..  ...     ...    ...     ...        ...       ...
95   12  Female  104.0    Mild  Bangalore        No
96   51  Female  101.0  Strong    Kolkata       Yes
97   20  Female  101.0    Mild  Bangalore        No
98    5  Female   98.0  Strong     Mumbai        No
99   10  Female   98.0  Strong    Kolkata       Yes

[100 rows x 6 columns]

In [3]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [4]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test = train_test_split(df.drop(columns=["has_covid"]),df["has_covid"],test_size=0.2)

In [5]:
x_train

    age  gender  fever   cough       city
52   47  Female  100.0  Strong  Bangalore
8    19  Female  100.0  Strong  Bangalore
72   83  Female  101.0    Mild    Kolkata
75    5    Male  102.0    Mild    Kolkata
99   10  Female   98.0  Strong    Kolkata
..  ...     ...    ...     ...        ...
66   51    Male  104.0    Mild    Kolkata
90   59  Female   99.0  Strong      Delhi
92   82  Female  102.0  Strong    Kolkata
50   19    Male  101.0    Mild      Delhi
68   54  Female  104.0  Strong    Kolkata

[80 rows x 5 columns]

# Manually type output

In [6]:
#adding simple imputer to fever column
si=SimpleImputer(strategy="mean")
x_train_fever=si.fit_transform(x_train[['fever']])

#also the test data
x_test_fever=si.fit_transform(x_test[['fever']])

x_train.fever.shape

(80,)

In [7]:
#ordinal Encoding ....> Cough
oe=OrdinalEncoder(categories=[['Mild','Strong']])
x_train_cough=oe.fit_transform(x_train[['cough']])

#also test data
x_test_cough=oe.fit_transform(x_test[['cough']])

x_train_cough.shape

(80, 1)

In [14]:
#OneHotEncoding ...> gender ,city

ohe=OneHotEncoder(drop='first',sparse_output=False)
x_train_gender_city=ohe.fit_transform(x_train[['gender','city']])

#also the test data
x_test_gender_city=ohe.fit_transform(x_test[['gender','city']])

x_train_gender_city.shape

(80, 4)

In [9]:
#Extracting age
x_train_age=x_train.drop(columns=
                        ['gender','fever','cough','city']).values

#also the test data
x_test_age=x_test.drop(columns=
                        ['gender','fever','cough','city']).values

In [10]:
x_train_age.shape

(80, 1)

In [16]:
x_train_transformed=np.concatenate((x_train_age,x_train_fever,
                                   x_train_gender_city,
                                   x_train_cough),axis=1)

In [17]:
x_train_transformed.shape

(80, 7)

# By the help of column transformer

In [18]:
from sklearn.compose import ColumnTransformer
transformer=ColumnTransformer(transformers=[
    ('tnf1',SimpleImputer(),['fever']),
    ('tnf2',OrdinalEncoder(categories=[['Mild','Strong']]),['cough']),
    ('tnf3',OneHotEncoder(sparse_output=False,drop='first'),['gender','city'])],remainder='passthrough')

In [19]:
transformer.fit_transform(x_train).shape

(80, 7)

In [20]:
transformer.fit_transform(x_test).shape

(20, 7)