In [1]:
#Data ........>Independent(x),Dependent(y)
#x ....>x_train,x_test
#y.....> y_train,y_test

#In training ....> we will trained our model from input to target data relation
#In testing ...> we will cgeck our model that our model is perfectly working or not

In [2]:
import numpy as np
import pandas as pd

In [3]:
df=pd.read_csv('placement - placement.csv')

In [4]:
df.head()

   cgpa  resume_score  placed
0  8.14          6.52       1
1  6.17          5.17       0
2  8.27          8.86       1
3  6.88          7.27       1
4  7.52          7.30       1

In [5]:
df.shape

(100, 3)

In [6]:
x=df.drop(columns=['placed'])  ###input data
y=df['placed']  ## target data

In [7]:
#pip install scikit-learn

In [8]:
from sklearn.model_selection import train_test_split

In [10]:
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [11]:
print("Total data shape:",df.shape)
print("___________________________")
print("___________________________")

print("Input data shape:",x.shape)
print("Input data shape:",x_train.shape)
print("Input data shape:",x_test.shape)
print("___________________________")

print("Target data shape:",y.shape)
print("Target data shape:",y_train.shape)
print("Target data shape:",y_test.shape)
print("___________________________")

Total data shape: (100, 3)
___________________________
___________________________
Input data shape: (100, 2)
Input data shape: (80, 2)
Input data shape: (20, 2)
___________________________
Target data shape: (100,)
Target data shape: (80,)
Target data shape: (20,)
___________________________

In [12]:
#df(100,3) =x(100,2) + y(100,1)
#x(100,2) =x_train(80,2) + x_test(20,2)
#y(100,1) =y_train(80,1) + y_test(20,1)

In [13]:
x_train

    cgpa  resume_score
55  6.94          6.87
88  8.07          6.07
26  6.27          6.47
42  6.90          6.91
69  8.06          9.06
..   ...           ...
60  5.87          6.64
71  7.34          8.22
14  7.51          6.25
92  5.43          6.18
51  6.54          7.39

[80 rows x 2 columns]

In [14]:
df=pd.read_csv("covid_toy - covid_toy.csv")
df

    age  gender  fever   cough       city has_covid
0    60    Male  103.0    Mild    Kolkata        No
1    27    Male  100.0    Mild      Delhi       Yes
2    42    Male  101.0    Mild      Delhi        No
3    31  Female   98.0    Mild    Kolkata        No
4    65  Female  101.0    Mild     Mumbai        No
..  ...     ...    ...     ...        ...       ...
95   12  Female  104.0    Mild  Bangalore        No
96   51  Female  101.0  Strong    Kolkata       Yes
97   20  Female  101.0    Mild  Bangalore        No
98    5  Female   98.0  Strong     Mumbai        No
99   10  Female   98.0  Strong    Kolkata       Yes

[100 rows x 6 columns]

In [15]:
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [16]:
df['gender']=df['gender'].map({'Female':0,'Male':1})#categorial data changed

In [17]:
df['cough']=df['cough'].map({'Mild':0,'Strong':1})

In [18]:
df.sample(4)

    age  gender  fever  cough       city has_covid
30   15       1  101.0      0      Delhi       Yes
33   26       0   98.0      0    Kolkata        No
76   80       1  100.0      0  Bangalore       Yes
27   33       0  102.0      1      Delhi        No

In [19]:
x=df.drop(columns=['has_covid'])
y=df['has_covid']

In [20]:
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [21]:
print("Total data shape:",df.shape)
print("___________________________")
print("___________________________")

print("Input data shape:",x.shape)
print("Input data shape:",x_train.shape)
print("Input data shape:",x_test.shape)
print("___________________________")

print("Target data shape:",y.shape)
print("Target data shape:",y_train.shape)
print("Target data shape:",y_test.shape)
print("___________________________")

Total data shape: (100, 6)
___________________________
___________________________
Input data shape: (100, 5)
Input data shape: (80, 5)
Input data shape: (20, 5)
___________________________
Target data shape: (100,)
Target data shape: (80,)
Target data shape: (20,)
___________________________

In [22]:
df=pd.read_csv("covid_toy - covid_toy.csv")
df

    age  gender  fever   cough       city has_covid
0    60    Male  103.0    Mild    Kolkata        No
1    27    Male  100.0    Mild      Delhi       Yes
2    42    Male  101.0    Mild      Delhi        No
3    31  Female   98.0    Mild    Kolkata        No
4    65  Female  101.0    Mild     Mumbai        No
..  ...     ...    ...     ...        ...       ...
95   12  Female  104.0    Mild  Bangalore        No
96   51  Female  101.0  Strong    Kolkata       Yes
97   20  Female  101.0    Mild  Bangalore        No
98    5  Female   98.0  Strong     Mumbai        No
99   10  Female   98.0  Strong    Kolkata       Yes

[100 rows x 6 columns]

In [23]:
df.head

<bound method NDFrame.head of     age  gender  fever   cough       city has_covid
0    60    Male  103.0    Mild    Kolkata        No
1    27    Male  100.0    Mild      Delhi       Yes
2    42    Male  101.0    Mild      Delhi        No
3    31  Female   98.0    Mild    Kolkata        No
4    65  Female  101.0    Mild     Mumbai        No
..  ...     ...    ...     ...        ...       ...
95   12  Female  104.0    Mild  Bangalore        No
96   51  Female  101.0  Strong    Kolkata       Yes
97   20  Female  101.0    Mild  Bangalore        No
98    5  Female   98.0  Strong     Mumbai        No
99   10  Female   98.0  Strong    Kolkata       Yes

[100 rows x 6 columns]>

In [24]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [25]:
#using SimpleImputer(),we will fill missing data.

#if data is:
#Numerical ...>fill mean
#Categorial ...>fill most_frequent_value

In [26]:
from sklearn.impute import SimpleImputer

In [27]:
si=SimpleImputer()

In [28]:
df['fever']=si.fit_transform(df[['fever']])  ###fit means leqaarn the parameters and trnsform means
#apply on that data

In [30]:
df.isnull().sum()

age          0
gender       0
fever        0
cough        0
city         0
has_covid    0
dtype: int64

In [32]:
df.shape

(100, 6)