In [1]:
#Data Devidation


#df...>x + y
#x....> x_train,x_test
#y.....> y_train,y_test

In [2]:
import numpy as np
import pandas as pd

In [3]:
df=pd.read_csv("placement - placement.csv")
df.head()

   cgpa  resume_score  placed
0  8.14          6.52       1
1  6.17          5.17       0
2  8.27          8.86       1
3  6.88          7.27       1
4  7.52          7.30       1

In [4]:
x=df.drop(columns=['placed'])   ##input Data or independent Data
#x

In [5]:
y=df['placed']     #target data or dependent data
#y

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
x_train , x_test , y_train , y_test=train_test_split(x,y,test_size=0.2,random_state=43)

In [8]:
np.round(x_train.describe(),2)

        cgpa  resume_score
count  80.00         80.00
mean    6.91          6.94
std     1.11          0.93
min     5.34          4.95
25%     5.94          6.24
50%     6.57          7.11
75%     7.95          7.64
max     9.40          8.75

In [9]:
x_train.describe()

            cgpa  resume_score
count  80.000000     80.000000
mean    6.910875      6.936875
std     1.108263      0.926565
min     5.340000      4.950000
25%     5.935000      6.235000
50%     6.575000      7.110000
75%     7.950000      7.640000
max     9.400000      8.750000

In [10]:
# Mean ....> Average


#Normal Distribution .....> Central tendency(mean,median) ...>left and right side equal data points


#Standard deviation .......> Next value gap from central tendancy

In [11]:
from sklearn.preprocessing import StandardScaler

In [12]:
sc=StandardScaler()

In [13]:
x_train_sc=sc.fit_transform(x_train)  ##fit means learn the parameters and transform means apply on that data

In [14]:
np.round(x_train_sc.describe(),2)

AttributeError: 'numpy.ndarray' object has no attribute 'describe'

In [18]:
type(x_train_sc)

numpy.ndarray

In [19]:
x_train_new=pd.DataFrame(x_train_sc,columns=x_train.columns)
type(x_train_new)

pandas.core.frame.DataFrame

In [20]:
np.round(x_train_new.describe(),2)

        cgpa  resume_score
count  80.00         80.00
mean    0.00         -0.00
std     1.01          1.01
min    -1.43         -2.16
25%    -0.89         -0.76
50%    -0.30          0.19
75%     0.94          0.76
max     2.26          1.97

In [ ]:
#Data 2

In [ ]:
df=pd.read_csv("covid_toy - covid_toy.csv")
df.head(3)

In [ ]:
df.isnull().sum()

In [ ]:
from sklearn.impute import SimpleImputer  ##it is used for filling missing data

In [ ]:
si=SimpleImputer()

In [ ]:
df['fever']=si.fit_transform(df[['fever']])

In [ ]:
df.isnull().sum()

In [ ]:
df.head()

In [ ]:
df['gender'].value_counts

In [ ]:
df['gender']=df['gender'].map({'Male':0,'Female':1})
df['cough']=df['cough'].map({'Mild':0,'Strong':1})
df['city']=df['city'].map({'Kolkata':0,'Banglore':1,'Delhi':2,'Mumbai':3})
df['has_covid']=df['has_covid'].map({'Yes':0,'No':1})

In [ ]:
df.head()

In [ ]:
x=df.drop(columns=['has_covid'])   ##input Data or independent Data
y=df['has_covid'] #target data

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x_train , x_test , y_train , y_test =train_test_split(x,y,test_size=0.2,random_state=42)

In [ ]:
np.round(x_train.describe(),2)

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
sc=StandardScaler()

In [ ]:
x_train_sc=sc.fit_transform(x_train)

In [ ]:
x_train_new=pd.DataFrame(x_train_sc,columns=x_train.columns)

In [ ]:
np.round(x_train_new.describe(),2)

In [ ]:
##Data 3

In [ ]:
df=pd.read_csv("tips - tips.csv")

In [ ]:
df.head()

In [ ]:
df.isnull().sum()

In [ ]:
x=df.drop(columns=['total_bill'])
y=df['total_bill']
df.head()

In [ ]:
df['time'].value_counts

In [ ]:
df['sex']=df['sex'].map({'Male':0,'Female':1})
df['smoker']=df['smoker'].map({'No':0,'Yes':1})
df['day']=df['day'].map({'Sun':0,'Sat':1,'Thur':2})
df['time']=df['time'].map({'Dinner':0})

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x_train , x_test ,y_train , y_test=train_test_split(x,y,test_size=0.2,random_state=43)

In [ ]:
np.round(x_train.describe(),2)

from sklearn.preprocessing import StandardScaler

In [ ]:

from sklearn.preprocessing import StandardScaler

In [ ]:
df.head()

In [ ]:
sc=StandardScaler()

In [15]:
x_train_sc=sc.fit_transform(x_train)

In [16]:
x_train_new=pd.DataFrame(x_train_sc,columns=x_train.columns)

In [17]:
np.round(x_train_new.describe(),2)

        cgpa  resume_score
count  80.00         80.00
mean    0.00         -0.00
std     1.01          1.01
min    -1.43         -2.16
25%    -0.89         -0.76
50%    -0.30          0.19
75%     0.94          0.76
max     2.26          1.97

In [21]:
## Normalisation   ....> min_value = 0 , max_value = 1

In [22]:
#Play store ....> app ...> downloads 2.3m , app ....> downloads 23k ,app ...> download = 400

In [23]:
df=pd.read_csv("placement - placement.csv")
df.head(1)

   cgpa  resume_score  placed
0  8.14          6.52       1

In [24]:
x=df.drop(columns=['placed'])
y=df['placed']

In [25]:
x_train , x_test ,y_train , y_test=train_test_split(x,y,test_size=0.2,random_state=43)

In [26]:
np.round(x_train.describe(),2)

        cgpa  resume_score
count  80.00         80.00
mean    6.91          6.94
std     1.11          0.93
min     5.34          4.95
25%     5.94          6.24
50%     6.57          7.11
75%     7.95          7.64
max     9.40          8.75

In [27]:
from sklearn.preprocessing import MinMaxScaler

In [28]:
mn=MinMaxScaler()

In [29]:
x_train_mn=mn.fit_transform(x_train)

In [30]:
x_train_new=pd.DataFrame(x_train_mn,columns=x_train.columns)

In [31]:
np.round(x_train_new.describe(),2)

        cgpa  resume_score
count  80.00         80.00
mean    0.39          0.52
std     0.27          0.24
min     0.00          0.00
25%     0.15          0.34
50%     0.30          0.57
75%     0.64          0.71
max     1.00          1.00