In [1]:
#Encoding ...> Using this method ,we can convert our categorial data into numerical data.


#(1).   LabelEncoding ....> Transform categorial data into Numerical data but it will work only
# single-single column . It will automatically decide which value pass to the which sub-category.

#(2).  OrdinalEncoding.....> Transform categorial data into Numerical data but it will work only
# multiple  column . It will automatically decide which value pass to the which sub-category.

#(3).  OnehotEncoding......>Transform categorial data into Numerical data but it will create
# new column based on sub-category which you mentioned in your column
#. It will not provide you column name
#Column Survived(Yes,No)....> Survived_Yes,Survived_No

#(4). get_dummies.....> Transform categorial data into Numerical data but it will create
# new column based on sub-category which you mentioned in your column
#. but It will  provide you column name also.
#Column Survived(Yes,No)....> Survived_Yes,Survived_No

In [2]:
#(1) LabelEncoding

In [3]:
import pandas as pd
import numpy as np

In [4]:
df=pd.read_csv('covid_toy - covid_toy.csv')
df.head(3)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes
2   42   Male  101.0  Mild    Delhi        No

In [5]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [6]:
from sklearn.impute import SimpleImputer

In [7]:
si=SimpleImputer()

In [8]:
df['fever']=si.fit_transform(df[['fever']])

In [9]:
df.isnull().sum()

age          0
gender       0
fever        0
cough        0
city         0
has_covid    0
dtype: int64

In [10]:
df['city'].value_counts()

city
Kolkata      32
Bangalore    30
Delhi        22
Mumbai       16
Name: count, dtype: int64

In [11]:
#LabelEncoding

In [12]:
from sklearn.preprocessing import LabelEncoder

In [13]:
lb=LabelEncoder()

In [14]:
df['gender']=lb.fit_transform(df['gender'])
df['cough']=lb.fit_transform(df['cough'])
df['city']=lb.fit_transform(df['city'])
df['has_covid']=lb.fit_transform(df['has_covid'])

In [15]:
df.sample(3)

    age  gender       fever  cough  city  has_covid
99   10       0   98.000000      1     2          1
37   55       1  100.000000      0     2          0
10   75       0  100.844444      0     1          0

In [16]:
df['city'].value_counts()

city
2    32
0    30
1    22
3    16
Name: count, dtype: int64

In [17]:
x=df.drop(columns=['has_covid'])
y=df['has_covid']

In [18]:
from sklearn.model_selection import train_test_split

In [19]:
x_train , x_test , y_train ,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [20]:
from sklearn.preprocessing import StandardScaler

In [21]:
sc=StandardScaler()

In [22]:
x_train_sc=sc.fit_transform(x_train)

In [23]:
x_train_new=pd.DataFrame(x_train_sc,columns=x_train.columns)

In [24]:
np.round(x_train_new.describe(),2)

         age  gender  fever  cough   city
count  80.00   80.00  80.00  80.00  80.00
mean   -0.00    0.00  -0.00  -0.00  -0.00
std     1.01    1.01   1.01   1.01   1.01
min    -1.56   -0.84  -1.56  -0.82  -1.17
25%    -0.94   -0.84  -0.51  -0.82  -1.17
50%    -0.04   -0.84   0.01  -0.82  -0.27
75%     0.91    1.19   0.53   1.22   0.63
max     1.69    1.19   1.57   1.22   1.53

In [25]:
df['city'].value_counts()

city
2    32
0    30
1    22
3    16
Name: count, dtype: int64

In [26]:
#data 2

In [27]:
df=pd.read_csv('tips - tips.csv')
df.head(3)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3

In [28]:
df.isnull().sum()

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

In [29]:
from sklearn.preprocessing import LabelEncoder

In [30]:
lb=LabelEncoder()

In [31]:
df['sex']=lb.fit_transform(df['sex'])
df['smoker']=lb.fit_transform(df['smoker'])
df['day']=lb.fit_transform(df['day'])
df['time']=lb.fit_transform(df['time'])

In [32]:
df.head()

   total_bill   tip  sex  smoker  day  time  size
0       16.99  1.01    0       0    2     0     2
1       10.34  1.66    1       0    2     0     3
2       21.01  3.50    1       0    2     0     3
3       23.68  3.31    1       0    2     0     2
4       24.59  3.61    0       0    2     0     4

In [33]:
x=df.drop(columns=['total_bill'])
y=df['total_bill']

In [34]:
x_train , x_test , y_train ,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [35]:
from sklearn.preprocessing import MinMaxScaler

In [36]:
mn=MinMaxScaler()

In [37]:
x_train_mn=mn.fit_transform(x_train)

In [38]:
x_train_new=pd.DataFrame(x_train_mn,columns=x_train.columns)

In [39]:
np.round(x_train_new.describe(),2)

          tip     sex  smoker     day    time    size
count  195.00  195.00  195.00  195.00  195.00  195.00
mean     0.23    0.65    0.38    0.57    0.27    0.31
std      0.16    0.48    0.49    0.31    0.45    0.19
min      0.00    0.00    0.00    0.00    0.00    0.00
25%      0.11    0.00    0.00    0.33    0.00    0.20
50%      0.22    1.00    0.00    0.67    0.00    0.20
75%      0.30    1.00    1.00    0.67    1.00    0.40
max      1.00    1.00    1.00    1.00    1.00    1.00

In [40]:
#(2)   OrdinalEncoder

In [41]:
df=pd.read_csv('covid_toy - covid_toy.csv')
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [42]:
df=df.drop(columns=['age','fever'])

In [43]:
df.head(3)

  gender cough     city has_covid
0   Male  Mild  Kolkata        No
1   Male  Mild    Delhi       Yes
2   Male  Mild    Delhi        No

In [44]:
df['city'].value_counts

<bound method IndexOpsMixin.value_counts of 0       Kolkata
1         Delhi
2         Delhi
3       Kolkata
4        Mumbai
        ...
95    Bangalore
96      Kolkata
97    Bangalore
98       Mumbai
99      Kolkata
Name: city, Length: 100, dtype: object>

In [45]:
from sklearn.preprocessing import OrdinalEncoder

In [46]:
oe=OrdinalEncoder(categories=[['Male','Female'],
                  ['Mild','Strong'],
                  ['Kolkata','Bangalore','Delhi','Mumbai'],
                  ['Yes','No']])

In [47]:
oe_sc=oe.fit_transform(df)

In [48]:
new_df=pd.DataFrame(oe_sc,columns=df.columns)
new_df.head(3)

   gender  cough  city  has_covid
0     0.0    0.0   0.0        1.0
1     0.0    0.0   2.0        0.0
2     0.0    0.0   2.0        1.0

In [49]:
new_df=new_df.astype(int)
new_df.head(4)

   gender  cough  city  has_covid
0       0      0     0          1
1       0      0     2          0
2       0      0     2          1
3       1      0     0          1

In [50]:
#example

In [51]:
df=pd.read_csv('tips - tips.csv')
df.head(3)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3

In [52]:
df.isnull().sum()

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

In [53]:
df=df.drop(columns=['total_bill','tip','size'])

In [54]:
df.columns

Index(['sex', 'smoker', 'day', 'time'], dtype='object')

In [55]:
df.describe()

         sex smoker  day    time
count    244    244  244     244
unique     2      2    4       2
top     Male     No  Sat  Dinner
freq     157    151   87     176

In [75]:
df['time'].values

array(['Dinner', 'Dinner', 'Dinner', 'Dinner', 'Dinner', 'Dinner',
       'Dinner', 'Dinner', 'Dinner', 'Dinner', 'Dinner', 'Dinner',
       'Dinner', 'Dinner', 'Dinner', 'Dinner', 'Dinner', 'Dinner',
       'Dinner', 'Dinner', 'Dinner', 'Dinner', 'Dinner', 'Dinner',
       'Dinner', 'Dinner', 'Dinner', 'Dinner', 'Dinner', 'Dinner',
       'Dinner', 'Dinner', 'Dinner', 'Dinner', 'Dinner', 'Dinner',
       'Dinner', 'Dinner', 'Dinner', 'Dinner', 'Dinner', 'Dinner',
       'Dinner', 'Dinner', 'Dinner', 'Dinner', 'Dinner', 'Dinner',
       'Dinner', 'Dinner', 'Dinner', 'Dinner', 'Dinner', 'Dinner',
       'Dinner', 'Dinner', 'Dinner', 'Dinner', 'Dinner', 'Dinner',
       'Dinner', 'Dinner', 'Dinner', 'Dinner', 'Dinner', 'Dinner',
       'Dinner', 'Dinner', 'Dinner', 'Dinner', 'Dinner', 'Dinner',
       'Dinner', 'Dinner', 'Dinner', 'Dinner', 'Dinner', 'Lunch', 'Lunch',
       'Lunch', 'Lunch', 'Lunch', 'Lunch', 'Lunch', 'Lunch', 'Lunch',
       'Lunch', 'Lunch', 'Lunch', 'Lunch', 'Dinner', 'Dinner', 'Dinner',
       'Dinner', 'Dinner', 'Dinner', 'Dinner', 'Dinner', 'Dinner',
       'Dinner', 'Dinner', 'Dinner', 'Dinner', 'Dinner', 'Dinner',
       'Dinner', 'Dinner', 'Dinner', 'Dinner', 'Dinner', 'Dinner',
       'Dinner', 'Dinner', 'Dinner', 'Dinner', 'Dinner', 'Dinner',
       'Lunch', 'Lunch', 'Lunch', 'Lunch', 'Lunch', 'Lunch', 'Lunch',
       'Lunch', 'Lunch', 'Lunch', 'Lunch', 'Lunch', 'Lunch', 'Lunch',
       'Lunch', 'Lunch', 'Lunch', 'Lunch', 'Lunch', 'Lunch', 'Lunch',
       'Lunch', 'Lunch', 'Lunch', 'Lunch', 'Lunch', 'Lunch', 'Lunch',
       'Lunch', 'Lunch', 'Lunch', 'Lunch', 'Lunch', 'Dinner', 'Dinner',
       'Dinner', 'Dinner', 'Dinner', 'Dinner', 'Dinner', 'Dinner',
       'Dinner', 'Dinner', 'Dinner', 'Dinner', 'Dinner', 'Dinner',
       'Dinner', 'Dinner', 'Dinner', 'Dinner', 'Dinner', 'Dinner',
       'Dinner', 'Dinner', 'Dinner', 'Dinner', 'Dinner', 'Dinner',
       'Dinner', 'Dinner', 'Dinner', 'Dinner', 'Dinner', 'Dinner',
       'Dinner', 'Dinner', 'Dinner', 'Dinner', 'Dinner', 'Dinner',
       'Dinner', 'Dinner', 'Dinner', 'Lunch', 'Lunch', 'Lunch', 'Lunch',
       'Lunch', 'Lunch', 'Lunch', 'Lunch', 'Lunch', 'Lunch', 'Lunch',
       'Lunch', 'Lunch', 'Lunch', 'Lunch', 'Dinner', 'Dinner', 'Dinner',
       'Dinner', 'Dinner', 'Dinner', 'Dinner', 'Dinner', 'Dinner',
       'Dinner', 'Dinner', 'Dinner', 'Dinner', 'Dinner', 'Lunch', 'Lunch',
       'Lunch', 'Lunch', 'Lunch', 'Lunch', 'Lunch', 'Dinner', 'Dinner',
       'Dinner', 'Dinner', 'Dinner', 'Dinner', 'Dinner', 'Dinner',
       'Dinner', 'Dinner', 'Dinner', 'Dinner', 'Dinner', 'Dinner',
       'Dinner', 'Dinner', 'Dinner'], dtype=object)

In [57]:
from sklearn.preprocessing import OrdinalEncoder

In [76]:
oe=OrdinalEncoder(categories=[['Male','Female'],
                              ['No','Yes'],
                              ['Sun','Sat','Thur','Fri'],
                              ['Lunch','Dinner']])

In [77]:
oe_sc=oe.fit_transform(df)

In [78]:
new_df=pd.DataFrame(oe_sc,columns=df.columns)
new_df.head(3)

   sex  smoker  day  time
0  1.0     0.0  0.0   1.0
1  0.0     0.0  0.0   1.0
2  0.0     0.0  0.0   1.0

In [79]:
new_df=new_df.astype(int)
new_df.head(4)

   sex  smoker  day  time
0    1       0    0     1
1    0       0    0     1
2    0       0    0     1
3    0       0    0     1